/*

-light blue --- #ceeaee
-green -------- #cdd629
-blue --------- #5568af
-orange ------- #f37826
-pink  -------- #ec1763
-light pink --- #f8c9dd

-light pink1--- #F7C1D8
-light pink2--- #f995b2
-lightpink grey #ceb7c2

*/
html { height: 100%; }
body { margin: 0; overflow: hidden; height: 100%; }
#viewerDiv { margin: auto; height: 100%; width: 100%; padding: 0; }
canvas { display: block }
#c {
    width: 100%;
    height: 100%;
    display: block;
}
#container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
#labels {
    position: absolute;
    left: 0;
    top: -100px;
    z-index: 101;
}
#labels>div {
    width: 150px;
    height: 90px;
    background-color: #f8c9dd;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    font-size: 12px;
    line-height: 1.3;
    padding: 8px;
    cursor: pointer;
    user-select: none;

    position: absolute;
    left: 0;
    top: 0;
}
#timeline {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 999999;

    background: white;
    padding: 14px 18px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    gap: 14px;
}
#selectedYear {
    position: absolute;
    bottom: 45px;
    transform: translateX(-50%);
    font-size: 12px;
    color: black;
    pointer-events: none;
}
#yearSlider {
    width: 420px;
    appearance: none;
    -webkit-appearance: none;

    height: 30px;
    background: transparent;

    position: relative;
    z-index: 2;
}
#yearSlider::-webkit-slider-runnable-track {
    height: 5px;
    background: #f37826;
    border-radius: 999px;
}
#yearSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;

    width: 18px;
    height: 18px;

    border-radius: 50%;
    background: #111;
    border: 5px solid #f37826;

    margin-top: -6.5px;
    cursor: pointer;
}
#yearSlider::-moz-range-track {
    height: 5px;
    background: #f37826;
    border-radius: 999px;
}

#yearSlider::-moz-range-thumb {
    width: 10px;
    height: 10px;

    border-radius: 50%;
    background: #111;
    border: 5px solid #f37826;

    cursor: pointer;
}
#ticks {
    position: absolute;
    left: 18px;
    top: 50%;
    width: 420px;
    height: 24px;
    transform: translateY(-50%);
    pointer-events: none;
    z-index: 1;
}
.tick {
    position: absolute;
    top: 50%;
    width: 4px;
    height: 12px;
    background: #f37826;
    border-radius: 999px;
    transform: translate(-50%, -50%);
}
.tickLabel {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 10px;
    color: black;
    white-space: nowrap;
}
/*#timeline>div {*/
/*    background-color: white;*/
/*    width: 600px;*/
/*    height: 50px;*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 100px;*/
/*    padding: 8px;*/
/*    border-radius: 8px;*/
/*    cursor: pointer;*/
/*    font-size: large;*/
/*    user-select: none;*/
/*    color: black;*/
/*}*/

#lines {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}
#labels > div{
    pointer-events: auto;
}